
body {
	font-family: Georgia, "Times New Roman",Times,serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}

page-front  {

	font-family: Georgia, "Times New Roman",Times,serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #000;



}

.main-text {
	font-family: Georgia, "Times New Roman",Times,serif;
	font-size: 16px;
	line-height: 2em;
	color: #b5925a;
	text-align: center;




}
