
body {
	font-family: 'Arapey', serif;
	font-size: 20px;
	line-height: 1.5em;
	color: #251101;
}

page-front  {

	font-family: 'Crimson Text' Georgia, serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #251101;



}

.main-text {
	font-family: 'Crimson Text' Georgia, serif;
	font-size: 16px;
	line-height: 2em;
	color: #b5925a;
	text-align: center;

}

.title {
	font-family: 'Arapey', serif;
	font-size: 30px;
	line-height: 2em;
	text-align: center;
	color: #b5925a;

}

.pagetitle {
	font-family: 'Crimson Text' Georgia, serif;
	font-size: 30px;
	line-height: 2em;
	color: #b5925a;
	text-align: center;

	{


}
